/****************************************************************************
 **
 ** This demo file is part of yFiles for JavaFX 2.0.
 **
 ** Copyright (c) 2000-2015 by yWorks GmbH, Vor dem Kreuzberg 28,
 ** 72070 Tuebingen, Germany. All rights reserved.
 **
 ** yFiles demo files exhibit yFiles for JavaFX functionalities. Any redistribution
 ** of demo files in source code or binary form, with or without
 ** modification, is not permitted.
 **
 ** Owners of a valid software license for a yFiles for JavaFX version that this
 ** demo is shipped with are allowed to use the demo source code as basis
 ** for their own yFiles for JavaFX powered applications. Use of such programs is
 ** governed by the rights and conditions as set out in the yFiles for JavaFX
 ** license agreement.
 **
 ** THIS SOFTWARE IS PROVIDED ''AS IS'' AND ANY EXPRESS OR IMPLIED
 ** WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 ** MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN
 ** NO EVENT SHALL yWorks BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 ** SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 ** TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 ** PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 ** LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 ** NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 ** SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 **
 ***************************************************************************/
/*************************************************************************************

   This file contains the CSS styling for the yFiles for JavaFX demo applications.

**************************************************************************************/

.root{
    -fx-base: white;
}

/*
  Styling for TitledPanes
*/
/* color of the text in the title pane headers*/
.titled-pane {
    -fx-text-fill: white;
}

/* color of the focused title pane border */
.titled-pane .title {

  /* color for the focus indicator*/
  -fx-color: #A0A0A0;

  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-background-color: #A0A0A0;
}

/*
  Styling for the Toolbar
*/
.tool-bar:horizontal {
  -fx-background-color: #F0F0F0;
}

/*
  Styling for Menubars
*/
.menu-bar {
  -fx-background-color: #F0F0F0;
  -fx-border-color: #A0A0A0;
}

.menu-bar .menu-button .label {
  -fx-text-fill: black;
}

.menu-bar .menu-button:hover {
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-border-width: 0;
  -fx-background-color: #FBFBFB;
}

.separator:horizontal .line {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-background-color: #A0A0A0;
    -fx-background-insets: 0;
  -fx-background-radius: 0;
    -fx-padding: 0.25;
}

/* The following colorizes the menu button when the drop down menu is showing, should be the same as hover/focus */
.menu-bar .menu-button:showing {
  -fx-background-color: #FBFBFB;
}

/*
  Styling for buttons and toggle buttons
*/

.button{
  -fx-padding: 3;
  -fx-border-color: transparent;
  -fx-background-color: #F0F0F0;
}

.button:hover{
  -fx-border-color: #A0A0A0;
  -fx-background-color: #FBFBFB;
}

.command-button {
  -fx-padding: 3;
  -fx-border-color: transparent;
  -fx-background-color: #F0F0F0;
}

.command-button:hover{
  -fx-border-color: #A0A0A0;
  -fx-background-color: #FBFBFB;
}

.toggle-button:selected {
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-background-color: #D0D0D0;
  -fx-border-color: #A0A0A0;
}


/*
  Styling for context menus and drop down in menubars
*/

.context-menu {
  -fx-background-color: #F0F0F0;
  -fx-border-color: #A0A0A0;
  -fx-border-width: 1;
  -fx-text-fill: black;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 0;
  -fx-effect: null;
}

.menu-item .label {
  -fx-background-color: #F0F0F0;
  -fx-text-fill: black;
}

.menu-item:focused .label {
  -fx-background-color: #FBFBFB;
}

.menu-item:focused {
  -fx-background-color: #FBFBFB;
}

.menu-item:hover  {
  -fx-background-color: #FBFBFB;
}

/*
  Styling for Tooltips: Simple Grey with border, no drop shadow, no shape in corner
*/
.tooltip {
  -fx-background-color: #FBFBFB;
  -fx-border-color: #A0A0A0;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-background-with: 1;
  -fx-padding: 2;
  -fx-effect: null;
  -fx-text-fill: BLACK;
}
.page-corner {
  /* Dummy shape to remove the default one */
  -fx-shape: "M0,0";
}

/*
  Styling for ComboBoxes
*/
.combo-box-base  {
  -fx-border-color: #A0A0A0;
  -fx-border-width: 1;
  -fx-background-color: #F0F0F0;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}
.combo-box-base:hover{
  -fx-background-color: #FBFBFB;
}

/* Button for drop down */
.combo-box-base .arrow-button {
  -fx-background-color: #F0F0F0;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-padding: 5;
}
.combo-box-base:hover > .arrow-button {
  -fx-background-color: #FBFBFB;
}
/* Styling of the ComboBox drop down*/
.list-view:focused .list-cell:focused {
  -fx-background-color: #A0A0A0;
}
.list-view:hover .list-cell:hover {
  -fx-background-color: #F0F0F0;
  -fx-text-fill: black;
}