/****************************************************************************
 **
 ** This demo file is part of yFiles for JavaFX 2.0.
 **
 ** Copyright (c) 2000-2015 by yWorks GmbH, Vor dem Kreuzberg 28,
 ** 72070 Tuebingen, Germany. All rights reserved.
 **
 ** yFiles demo files exhibit yFiles for JavaFX functionalities. Any redistribution
 ** of demo files in source code or binary form, with or without
 ** modification, is not permitted.
 **
 ** Owners of a valid software license for a yFiles for JavaFX version that this
 ** demo is shipped with are allowed to use the demo source code as basis
 ** for their own yFiles for JavaFX powered applications. Use of such programs is
 ** governed by the rights and conditions as set out in the yFiles for JavaFX
 ** license agreement.
 **
 ** THIS SOFTWARE IS PROVIDED ''AS IS'' AND ANY EXPRESS OR IMPLIED
 ** WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 ** MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN
 ** NO EVENT SHALL yWorks BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 ** SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 ** TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 ** PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 ** LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 ** NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 ** SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 **
 ***************************************************************************/
/*
  CSS for styling the help/description text that is shown in the demos.
*/
.demo-description code {
  color: #995100;
  font-family: monospace;
  font-size: 11.5px;
}

dt {
  font-weight: bold;
  margin-top: 4px;
  color: #333333;
}

dt > i {
  font-weight: normal;
  margin-top: 4px;
  color: #333333;
}

dd {
  margin-left: 10px;
}

body {
  background-color: #DCDCDC;
  font-family: Segoe UI, Verdana, sans-serif;
  font-size: 14px;
  margin: 20px;
  padding: 0px;
}

h1 {
  font-size: 170%;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 10px
}

h2 {
  font-size: 150%;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px
}

h3 {
  font-size: 130%;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 5px
}

ul {
  list-style-type: square;
}

ul li {
  margin-bottom: 5px;
}
